@import "./src/assets/styles/index.scss";

textarea {
    border-radius: 4px;
    width: 100%;
    opacity: 0.7;
    color: $color-bg-active;
    padding: 10px;
}

.btn-custom {
    padding: 0 4px !important;
    font-size: 2rem !important;
    background-color: white;
    color: $color-bg-active;
    border-radius: 4px;
}