<div class="modal-header" style="padding: 10px 16px;">
  <h5 class="modal-title">Customer Info</h5>
  <i class="nb-close close-modal" (click)="closeModal()"></i>
</div>
<div class="modal-body" *ngIf="order">
  <div class="row-detail">
    <p>Name</p>
    <p>{{order.customer_name}}</p>
  </div>
  <div class="row-detail">
    <p>Location</p>
    <p>{{order.location}}</p>
  </div>
  <div class="row-detail">
    <p>Phone</p>
    <p>{{ order.created_at }}</p>
  </div>
  <div class="row-detail">
    <p>Email</p>
    <p>{{ order.email }}</p>
  </div>
  <div class="row-detail" *ngIf="order.driver_licence">
    <p>Driver Licence</p>
    <p><img [src]="order.driver_licence"></p>
  </div>
</div>